## Job Listing

# DATA MODELLING-LINEAR REGRESSION

In [5]:
from sklearn. model_selection import StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn. model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd

In [6]:
#load the csv file
df3 = pd.read_csv("computerengineer_preprocessed.csv")

In [7]:
#Lets Prepare the data for feeding in to the models
#Save the target variable seperately
X=df3.drop("Salary",1)
y=df3.Salary

In [8]:
X=pd.get_dummies(X)
df3=pd.get_dummies(df3)

In [9]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [87]:
model=LogisticRegression()
model.fit(x_train,y_train)
LogisticRegression(C=1.0,class_weight=None,dual=False,fit_intercept=True,
                   intercept_scaling=1,max_iter=100000,multi_class="ovr",n_jobs=1,
                   penalty="12",random_state=1,solver="liblinear",tol=0.0001,
                  verbose=0,warm_start=False)

C:\Users\sumai\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=100000, multi_class='ovr', n_jobs=1, penalty='12',
                   random_state=1, solver='liblinear')

In [89]:
y_pred=model.predict(x_test)
accuracy_score(y_test,y_pred)

0.6853658536585366

In [ ]:
x_test=df3.transform(X)
classifier.predict(x_test)

In [91]:
pred_test=model.predict(X)

In [ ]:
final=pd.DataFrame({"Title":df1["Title"],"Salary":pred_test})

In [473]:
final

                                             Title   Salary
0                         Desktop Support Engineer  12000.0
1                              Jr Systems Engineer  18992.0
2          Computer Hardware & Networking Engineer  18992.0
3                      Associate Software Engineer  40000.0
4                                         Engineer  18992.0
..                                             ...      ...
130                              Mgr, QA & Testing  18992.0
131        Information Technology Support Engineer  18992.0
132         Software Support Engineer For Freshers  18992.0
133                             Embedded Developer  18992.0
134  Systems Engineer - L2 (Immediate Requirement)  18992.0

[134 rows x 2 columns]